<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Text Stream</a></li>
	        	<li><a href="/about">Video Stream</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ post.date | date_to_string }}</span> » {{ post.title }}
			</div>
		
		  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » {{ post.title }} </a></li>
		<div class="post">
  {{ post.content }}
</div>
	  {% endfor %}

	
	
	</body>
</html>
