<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Text Stream</a></li>
	        	<li><a href="/about">Video Stream</a></li>
    		</ul>
		</nav>
<!-- 		<div class="container">
    		{{ content }}
			</div> -->
		
		  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	</body>
</html>
